{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link href="{% static 'css/сss2/main.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}
    Кулинарная книга
{% endblock %}

{% block content %}
<div class="main-content" id="main-content">
    <div class="container">
        <div>
              <h1>Вход</h1>
                <form method="post">
                  {% csrf_token %}
                  <div class = "form-error">{{form.non_field_error}}</div>
                  {%for f in form%}
                  <p><label class = "form-label" for "{{f.id_for_label}}">{{f.label}}: </label><br>{{f}}</p>
                  <div class="form-error">{{f.erorrs}}</div>
                  {%endfor%}
                  <button type="submit">Войти</button>
                </form>
    </div>
</div>
<script src="js/js1/main.js"></script>
<script src="js/js1/app.js"></script>
{% endblock %}
