<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InternetServiceProvider</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
</head>
<body>
    <header>
        <ul class="header-container">
            <li>
                <div class="dropdown">
                    <a class="dropdown-toggle navbar-brand text-color" asp-page="/Index" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Internet Service Provider
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item Sidebar-item text-color" asp-page="/">Услуги</a>
                        <a class="dropdown-item Sidebar-item text-color" asp-page="/">Акции и бонусы</a>
                        <a class="dropdown-item Sidebar-item text-color" asp-page="/">Оплата</a>
                    </div>
                </div>
            </li>
            <li><a asp-page="/Tariffs" class="nav-item  text-color">Тарифы</a></li>
            <li><a asp-page="/Chat" class="nav-item  text-color">Чат</a></li>
            <li><a asp-page="/Help" class="nav-item  text-color">Помощь</a></li>
            <li>
                <div class="right-item">
                    @if (User.Identity.IsAuthenticated)
                    {
                        Repository.DbRepository db = new Repository.DbRepository();
                        var account = (Models.Account)db.GetItem(new Guid(User.Identity.Name), "Account");
                        var fullName = account.LastName + " " + account.Name;

                        <a asp-controller="User" asp-action="PersonalPage" class="nav-item  text-color">@fullName</a>
                    }
                    else
                    {
                        <a asp-controller="User" asp-action="Authorization" class="nav-item  text-color" id="Login">Войти</a>
                        <a asp-controller="User" asp-action="Registration" class="nav-item  text-color " id="Registration">Регистрация</a>
                    }
                </div>
            </li>
        </ul>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - InternetServiceProvider - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
