{% extends 'main/layout.html' %}
{% load static %}

{% block title %} Главная страница {% endblock %}

{% block content %}
    <div class="text">
        <h1>{{ data.title }}</h1>
        <p>Данный сайт предоставляет возможность для анализа результатов моделей нейросетевого прогнозирования и добавления полученного прогноза рентабельности на страницу "Прогнозы".</p>
        <p>Провести анализ результатов моделей нейросетевого прогнозирования возможно на странице "Анализ результатов".</p>
        <form method="post">
            {% csrf_token %}
            <p>Для получения результата прогноза введите количество столбцов в вашем файле и перейдите на страницу "Анализ результатов"</p>
            {{ formColumns.count }}<br><br>
            <button class="btn btn-success" type="submit">Отправить</button>
        </form>
        <p>Для добавления и работы с существующими прогнозами, пожалуйста, пройдите процедуру авторизации.</p>
        <h5>Спасибо, что выбрали приложение "Retail Forecasts"!</h5>
        <br>
    </div>
{% endblock %}