{% extends 'main/base2.html'%}
{% load static %}

{% block title%}
{{title}}
{% endblock %}

{% block style %}
<script src="{% static 'js/spisok.js'%}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/stylebooktable.css' %}" type="text/css">
{% endblock %}

{% block content%}
<br>
<h2 class="post-cat", align="center">Бронь столика</h2>
<br>
</div>
  <body>
  <div class="post-wrap", align="center">
      <img src="{% static 'img/booktable.png' %}"  width="312" height="312" class="leftimg"><br>
      <div ><br>
          <h6>На этой странице вы можете забронировать столик на любую дату. Для этого Вам необходимо просто заполнить форму. <br>Обратите внимание на то, как расположена схема нашего ресторана.
          Вы можете выбрать любой столик по этой схеме.<br> Также мы предоставили доступ к списку забронированных столиков, чтобы вы смогли проверить забронирован выбранный столик или нет.<br>
          <br>Эту информацию Вы можете посмотреть по ссылке:<br>
          <br><a href="{% url 'spisokbroni' %}">Уже забронированные столики</a></h6><br>
    </div>
  </div>
  <div >
  <div class = "post-wrap">
      <b>Для того, чтобы забронировать столик, заполните форму ниже: </b>
      <br>
  </div>
  <div class = "post-wrap">
      <form method="post">
          <br>
          {% csrf_token %}
          {{ form.title }}<br>
          {{ form.time_from }}<br>
          {{ form.time_to }}<br>
          {{ form.phone_number }}<br>
          {{ form.number_of_table }}<br>
          <br>

          <button type="submit" class = "btn btn-success">Добавить</button>
          <span>{{error}}</span>
      </form>
  </div>

    </div>
  </div>


</div>

</body>

  <br> <br>
</div>
{% endblock %}

