@model AuthorizationForm

<div class="LK_space-container"></div>
<form class="LK_login" asp-action="Authorization">
    <div class="form-group">
        <label for="exampleInputEmail1">Введите ваш номер телефона или email</label>
        <input asp-for="LoginKey"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Введите пароль</label>
        <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="button-bottom">
        <div class="form-group form-check bb-item">
            <input asp-for="RememberMe" type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Запомнить меня</label>
        </div>
        <button type="submit" class="btn btn-primary bb-item">Войти</button>
    </div>
</form>